@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color: #f8f9fa;
  --text-color: #1f2937;
}

:root.dark {
  --bg-color: #1C1C1C;
  --text-color: #ffffff;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}